@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --clr-primary: #ffffff;
    --clr-secondary: #000000;
    --clr-accent: #c5c5c5;
    --clr-third: #c5c5c5;
    --clr-fourth: #919191;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif; 
  background-color: var(--clr-primary);
  color: var(--clr-secondary);
}

.dark-mode {
  --clr-primary: #000000;
  --clr-secondary: #ffffff;
  --clr-accent: #0c0c0c;
  --clr-third: #2c2c2c;
  --clr-fourth: #0c0c0c;
}

.bg-secondary {
  background-color: var(--clr-accent);
}

.top-bar {
  display: flex;
  align-items: center; 
}

.container-1 {
  margin-inline: 20rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "box-1 img-1";
}

.img-1 {
  margin-top: 5rem;
}

a:link {
  color: var(--clr-secondary);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: var(--clr-secondary);
  background-color: transparent;
  text-decoration: none;
}


.login {
   padding: 1em 2.5em;
   border-radius: .3em;
   border:none;
   cursor: pointer;
   background-color: #6366F1;
   color: var(--clr-primary);
}

.login:hover {
  background-color: rgb(60, 80, 240);
  transition: 0.2s;
}

.grid {
  display: grid;
  padding-left: 35%;
  padding-right: 5%;
  gap: 1rem;
  margin: 2rem;
}

.btn-download {
  background-color: transparent;
  border-radius: 8px;
  border:solid 2px black;
  border-color: #6366F1;
  padding: 12px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.btn-download:hover {
  transition: 0.2s;
  background-color: #6366F1;
  text-decoration: none;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.btn-circle {
  background-color: var(--clr-fourth);
  border:solid;
  border-color: #6366F1;
  padding: 1.2em 1.2em;
  border-radius: 3em;
}

.btn-circle:hover {
  background-color: #6366F1;
}

.checkbox {
  align-items: center;
}

.logos {
  background-color: var(--clr-fourth);
  border-radius: 8px;
  border:solid;
  border-color: #6366F1;
}

.container-2 {
  width: 80%;
  margin: 0 auto;
}

.item {
  display: flex;
}

.item-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.footer {
  padding: 3rem;
  background-color: var(--clr-primary);
  display: flex;
  justify-content: center;
}

.btn-more {
  padding: 1em 2.5em;
  border-radius: .3em;
  border:none;
  cursor: pointer;
  background-color: #6366F1;
}

.btn-more:hover {
 background-color: rgb(60, 80, 240);
 transition: 0.2s;
}

.clients {
  padding-left: 15rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  align-items: baseline;
}

.clients-img {
  background-color: var(--clr-accent);
  border:solid 2px black;
  border-color: #6366F1; 
  border-radius: 10%;
  
}

.contact {
  padding-top: 1em;
  width: 500px;
  height: 450px;
  background-color: var(--clr-accent);
  border:solid 5px;
  border-color: #6366F1; 
  border-radius: 15%;
  text-align: center;
}

.contact-img {
  background-color: transparent;
  border-radius: 8px;
  border:solid 2px black;
  border-color: #6366F1; 
}

.FAQ {
  max-width: 650px;
  margin: 5rem auto;
  border-radius: .5rem;
}

.question {
  background-color: transparent;
  border:solid 2px black;
  border-color: #6366F1; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .7rem;
  cursor: pointer;
  
  p {
    font-size: 1.3rem;
    font-weight: 600;
  }
}

.question:hover .btn-circle {
  background-color: #6366F1;
  
}

.answer {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  background-color: transparent;
  border-left: solid 2px;
  border-right: solid 2px;
  border-bottom: solid;
  border-color: #6366F1; 

  transition: grid-template-rows 300ms, padding-bottom 300ms;
  padding: 0 0.7rem;
}

.answer.open {
  grid-template-rows: 1fr;
  padding-bottom: .7rem;
}

.open .btn-circle {
  background-color: #6366F1;
  rotate: 180deg;
}

.expandable {
  min-height: 0px;
}

.card-1 {
  background-color: var(--clr-accent);
  display: flex;
  align-items: center;
  padding: 3rem;
  margin-left: 15rem;
  margin-right: 15rem;
}

.subscribe {
  width: 100%;
  font-size: 1rem;
  padding: .6em;
  background-color: #0B0F19;
  display: flex;
  align-items: center;
  border: 1px solid #616066;
  border-top-left-radius:  .4em;
  border-bottom-left-radius:  .4em;
  max-width: 30%;
}

.subscribe-form {
  width: 100%;
  font-size: 1rem;
  padding: .6em;
  color: white;
  background-color: #0B0F19;
  display: flex;
  align-items: center;
  border: none;
  
}

.subscribe-btn {
  padding: 21.5px 3em;
  border-top-right-radius: .4em;
  border-bottom-right-radius: .4em;
  border:none;
  cursor: pointer;
  background-color: #6366F1;
  color: var(--clr-primary);
}

.subscribe-btn:hover {
  background-color: rgb(60, 80, 240);
  transition: 0.2s;
}

.invalid-input {
  color: firebrick;
  font-size: .9rem;
  display:none
}

.error {

  .subscribe {
    border-color: firebrick
  }
  .invalid-input {
    display: block;
  }
}

/* Slider Button */
/* Använde W3schools kod */
.switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 24px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #6366F1;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }